.searchBar-wrap{
    display: flex;
    align-items: center;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    padding: 1.5rem 1rem;
}

.searchBar-icon {
    color: rgba(0, 0, 0, 0.26);
    margin-right: 2rem;
}

.searchBar-wrap input{
    font-size: 1.5rem;
    outline: none;
    border: none;
    width: 100%;
}
.searchBar-wrap input::placeholder{
    color: rgba(0, 0, 0, 0.26);
}